* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
    transition: top 1000ms;
}

div {
    display: flex;
    justify-content: center;
    align-items: center;    
    height: 200px;
    width: 200px;
    margin: 1rem;
    position: absolute;
}

#cube {
    background-color: black;
    background-image: linear-gradient(to top, black 0%, gray 50%, black 100%);
    background-size: 100%;
}

#triangle {
    left: 15rem;
    border: 100px solid white;
    border-bottom-color: red;
}

#triangle p {
    position: relative;
    top: 5rem;
    white-space: nowrap;
}

#circle {
    display: flex;
    flex-direction: column;
    left: 30rem;
    background-image: linear-gradient(to top, darkgreen 0%, rgb(63, 209, 63) 50%, darkgreen 100%);
    border-radius: 100px;
    top: 10rem;
    transition: transform 1000ms;
}